body {
    font-family: 'Rubik', sans-serif;
    display: flex;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik Mono One', sans-serif;
  }
  
  .small {
    font-weight: 300;
    font-style: italic;
  }
  
  #label {
    font-size: 1.5rem;
    font-weight: 500;
  }

.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
}
