/* align-items: flex-start; */

.profileMe{
    margin-left: -20px;
    width: 50%;
    float: left;
    margin-top: 60px;
    color: white
}

.profileSaved {
    padding-left: -60px;
    margin-top: 60px;
    width: 50%;
    float: right;
}

.match {
    font-family: 'Damion', cursive;
    color: #fff;
    text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.label {
    font-family: 'Damion', cursive;
    color: black;
    font-size: 2rem;
    font-weight: 500;
    background: linear-gradient(0deg, rgba(244,243,245,1) 41%, rgba(165,205,231,0.8113620448179272) 99%);
    padding: 0 0.5rem;
    border-radius: 25px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.savedInmateCard {
    border-radius: 25px;
    background-color: none;
}

.savedInmateCard img {
    border-radius: 25px 25px 0 0;
}

.savedInmateCard:hover {
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}



@media (max-width: 625px) {
    .profileMe{
        margin-left: 110px;
        width: 50%;
        float: left;
        margin-top: 60px;
        color: white
    }

    .profileSaved {
        padding-left: 0px;
        margin-top: 60px;
        margin-right: 100px;
        width: 50%;
        float: right;
    }
  }